<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<!-- TITLE -->
	<title>Camera Streamer</title>
	
	<!-- STATIC CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<video id="video" autoplay="1" height="300" width="300"></video>
	<!-- <img id="img" src="{% url 'video_feed' %}" height="300" width="400"> -->
	<img id="img" src="" height="300" width="400">
	<canvas id="canvas" width="300" height="300"></canvas>
	
</body>
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script> 
<script src="{% static "js/channels/reconnecting-websocket.min.js" %}"></script>
<script src="{% static "js/channels/streamer.js" %}"></script>
<!-- <script>
</script> -->
</html>

